.App {
  text-align: center;
}
body{
  background: #3a3939;
}

.expenccont{
  width: 1024px;
  margin: auto;
  padding: 7px 15px;
  background: black;
  border-radius: 12px;
}

.norec{
  color: white;
}